@model Product

    <div class="m-2">
        <table class="table table-sm table-striped table-bordered">
            <tbody>
                <tr><td>Name</td><td>@Model.Name</td></tr>
                <tr><td>Price</td><td>@Model.Price</td></tr>
            </tbody>
        </table>
    </div>