@model CityViewModel

    <h6 class="text-white">This shared view is WebApp\Views\Shared\Components\CitySummary\Default.cshtml invoked by CitySummary.cs</h6>
    <table class="table table-sm table-bordered text-white bg-secondary bg-@ViewBag.Theme">
        <thead>
            <tr>
                <th colspan="2">Cities Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cities:</td>
                <td class="text-right">@Model.Cities</td>
            </tr>
            <tr>
                <td>Population:</td>
                <td class="text-right">@Model.Population.ToString("#,###")</td>
            </tr>
        </tbody>
    </table>